# .dockerignore

# каталоги целиком
__pycache__/
**/__pycache__/
wandb/
temp/
result/
models/
datasets/
.git

# файлы по расширению
*.pth
*.pkl
*.png
*.csv
*.ipynb

# лишнее имя (если не нужно — удалите)
pycache_/