absl-py
astunparse
certifi
charset-normalizer
contourpy
cycler
flatbuffers
fonttools
gast
google-pasta
grpcio
h5py
idna
imbalanced-learn
joblib
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
namex
numpy
opt-einsum
optree
packaging
pandas
pillow
protobuf
psutil
Pygments
pyparsing
python-dateutil
pytz
requests
rich=
scikit-learn
scipy
six
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
